.TodoList {
  box-sizing: content-box;
  background-color: #ff6b6b;
  padding: 16px 32px;
  color: #fff;
  min-width: 350px;
  position: relative;
  box-shadow: -16px -16px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.TodoList__title {
  font-size: 2.5rem;
  font-weight: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 16px;
}
.TodoList__title:after {
  content: "A simple React Todo List App";
  text-transform: none;
  font-size: 0.7rem;
  display: block;
  margin-left: 0.4rem;
  padding-bottom: 8px;
}
.TodoList__todos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.TodoList__todos li {
  width: 100%;
}
.TodoList__todos li:last-child {
  margin-bottom: 32px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters button {
  padding: 8px 16px;
  outline: none;
  border-radius: 1px;
}
