.Todo {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 8px;
  padding: 16px 24px;
  border-radius: 2px;
  animation: scale-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  justify-content: space-between;
}
.Todo > * {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.Todo > *:hover {
  transform: scale(1.3);
}
.Todo__name,
.Todo__priority,
.Todo__author {
  position: relative;
}
.Todo__name.done,
.Todo__priority.done,
.Todo__author.done {
  color: #c8d6e5;
}
.Todo__name.done::after,
.Todo__priority.done::after,
.Todo__author.done::after {
  content: "";
  width: 110%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  background-color: #c8d6e5;
  z-index: 2;
  animation: line-through 0.1s ease;
}

.Todo__priority {
  font-size: 12px;
  margin-top: 5px;
}

.Todo__author {
  font-size: 10px;
  margin-top: 5px;
}

@keyframes line-through {
  from {
    width: 0%;
  }
  to {
    width: 110%;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}